/* header text color #2E2F42 
adress #434455
web color #4D5AE5 */
/* bgc #E5E5E5 */
/* body bgc #FFFFFF  */
/* body color #2E2F42 */
/* 2nd color #434455 */
/* button text color #4D5AE5 bgc #E7E9FC  */
/* btn bgc hover #404BBF text #FFFFFF  */

:root {
  --primary-text-color: #434455;
  --title-color: #2e2f42;
  --footer-studio-color: #f4f4fd;
  --footer-text-color: #e7e9fc;
  --active: #404bbf;
  --body-backgroung-color: #ffffff;
  --hero-text-color: #ffffff;
  --logo-primbutton-color: #4d5ae5;
  --bcg-secbutton-color: #f4f4fd;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--body-backgroung-color);
}
/* 1. header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  display: block;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* .container {
  width: 1158px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  } */
.container {
  max-width: 428px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  }


@media screen and (min-width: 768px){
  .container{
    max-width: 768px;
  }
   }

@media screen and (min-width: 1200px){
  .container{
   max-width: 1160px;
  }
  }
  
/* logo */

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.link.logo {
  padding-top: 24px;
  padding-bottom: 24px;
  line-height: 1.3333;
  color: var(--title-color);
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}
.web {
  color: var(--logo-primbutton-color);
}
.main-nav {
  display: flex;
  align-items: center;
}
.main-nav a {
  display: block;
}


.site-nav {
  display: flex;
  margin-left: 76px;
}


/* MOBILE-header */


 @media screen and (max-width: 767px){
  .site-nav {
  display: none;
}

.address{
  display: none;
}

/* burger-button */

.mobile-menu-open{
  border:none;
  background: transparent;
  padding: 0;
  line-height: 0;
}
/* MOBILE-MENU */

.site-nav-mobile-menu{
  margin-bottom: auto;
}
.site-nav-mobile-menu a{
  display: inline-block;
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.111;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.mobile-container {
  display: flex;
  flex-direction: column;
}
.site-nav-mobile-menu a:focus {
  color: var(--active);
}

.mobile-menu{
  position: fixed;
  width: 100%;
  height: 100%;
  /* max-height: 796px; */
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: var(--body-backgroung-color);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  transform: translateX(100%)
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
}
.mobile-menu.is-open{
opacity: 1;
visibility: visible;
pointer-events: auto;
}
.link.highlighted{
  color: var(--active)
}
@media screen and (max-width: 410px){
  .item-tel .link.highlighted{
  font-size: 25px;
}
}

.item-mobile-menu:not(:last-child){
  margin-bottom: 40px;
}
.contact-info-mobile {
  display: inline-block;
  margin-bottom: 48px;
}
.contact-info-mobile a {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1111;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-info-mobile a:hover,
.contact-info-mobile a:focus{
  color: var(--active);
}
.item-tel{
  margin-bottom: 40px;
}
.link.item-email{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--primary-text-color);
}
.mobile-menu-social{
 
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
}
.mobile-social {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  /* gap: 56px; */
  justify-content: space-between;
  align-items: flex-start;
}
}

/* TABLET-header */

@media screen and (min-width: 768px){
.site-nav a {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--active);
}


  .mobile-menu,
  .mobile-menu-open {
    display: none;
  }

.contact-info {
flex-direction: column;
align-items: flex-end;
}

.contact-info .link{
  padding: 0;
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.04em;
  color: var(--primary-text-color);
  text-decoration: none;
}

.contact-info .item:not(:last-child) {
  margin-bottom: 6px;
}

.site-nav{
  margin-left: 120px;
}
.site-nav a{
  padding-top: 24px;
  padding-bottom: 24px;
}

.current-page {
  position: relative;
}

.link.current-page {
  color: var(--active);
  }

.current-page::after {
  position: absolute;
  content: '';
  width: 100%;
  display: block;
  left: 0;
  bottom: 0;
  background-color: var(--active);
  height: 4px;
  border-radius: 2px;
}
.address{
font-style: normal;
}

.site-nav .item + .item {
  margin-left: 40px;
}
}


/* DESKTOP-header */

@media screen and (min-width:1200px) {
  .contact-info{
    flex-direction: row;
    align-items: center;
  }
  .contact-info .item:not(:last-child) {
  margin-bottom: 0;
}
.site-nav a {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--active);
}


.address {
  margin-left: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}


.contact-info .item + .item {
  margin-left: 40px;
}
.contact-info {
  display: flex;
}
.contact-info .link{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contact-info a {
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
  }
}

/* 2. main */

.link {
  text-decoration: none;
}
.link:active{
  color: var(--active)
}
.contact-info a {
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-info a:hover,
.contact-info a:focus {
  color: var(--active);
}

/* buttons */

.button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
}

.button.primary {
  color: var(--background-color);
  background-color: var(--logo-primbutton-color);
  padding: 16px 32px;
  min-width: 169px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button.primary:hover,
.button.primary:focus {
  color: var(--background-color);
  background-color: var(--active);
}
.button.secondary {
  color: var(--logo-primbutton-color);
  padding: 12px 24px;
  background: var(--bcg-secbutton-color);
  min-height: 48px;
  border: 1px solid var(--footer-text-color);

  transition: 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button.secondary:hover,
.button.secondary:focus {
  background-color: var(--active);
  color: var(--hero-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: transparent;
}

.subscribe-btn {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  gap: 16px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  color: var(--body-backgroung-color);
  background: var(--logo-primbutton-color);
  margin-left: 24px;
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-btn:hover,
.subscribe-btn:focus {
  color: var(--body-backgroung-color);
  background-color: var(--active);
}
.telegram {
width: 24px;
height: 20px;
display: inline-block;
}

/* sections */


.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* MOBILE */
@media screen and (max-width: 1199px){
  .section {
  padding: 96px 0;
}
}

.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.container.container-button {
  padding-top: 96px;
  padding-bottom: 72px;
}

/* hero */


/* MOBILE */
@media screen and (max-width:767px){
  .hero-title {
   color: var(--hero-text-color);
  max-width: 320px;
  font-size: 36px;
  line-height: 1.1111;
  margin: 0px auto 72px;
   text-align: center;
}
}
  /* TABLET */


@media screen and (min-width: 768px){
  .hero-title {
    color: var(--hero-text-color);
    max-width: 496px;
  font-size: 56px;
  line-height: 1.0714;
  margin: 0px auto 40px;
}
}
@media screen and (min-width: 1200px){
.hero-title {
  color: var(--hero-text-color);
  max-width: 496px;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  margin: 0px auto 48px;
  text-align: center;
}
}




/* MOBILE */

@media screen and (max-width:428px){
.hero {
  text-align: center;
  color: var(--footer-text-color);
  padding-top: 112px;
  padding-bottom: 112px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--title-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
  url('../images/hero-overlay-mobile.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
}
  @media screen and (min-device-pixel-ratio: 2) and (max-width:428px),
  (-webkit-min-device-pixel-ratio: 2) and (max-width:428px),
  screen and (min-resolution: 192dpi) and (max-width:428px),
  screen and (min-resolution: 2dppx) and (max-width:428px) {
    .hero{
      background-image: 
  linear-gradient(rgba(46, 47, 66, 0.7),
                  rgba(46, 47, 66, 0.7)),
      url('../images/hero-overlay-mobile@2x.jpg');
}
}
/* --------------------- */


/* TABLET */


@media screen and (min-width: 429px) and (max-width: 767px){
.hero {
  text-align: center;
  color: var(--footer-text-color);
  padding-top: 112px;
  padding-bottom: 112px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--title-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
  url('../images/hero-overlay-tablet.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 429px) and (max-width: 767px),
  (-webkit-min-device-pixel-ratio: 2) and (min-width: 429px) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (min-width: 429px) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (min-width: 429px) and (max-width: 767px){
.hero {
background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
url('../images/hero-overlay-tablet@2x.jpg');
}
  }
  
@media screen and (min-width: 768px){
  .hero {
  text-align: center;
  color: var(--footer-text-color);
  padding-top: 112px;
  padding-bottom: 112px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--title-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
  url('../images/hero-overlay.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero{
    background-image: 
  linear-gradient(rgba(46, 47, 66, 0.7),
                  rgba(46, 47, 66, 0.7)),
      url('../images/hero-overlay@2x.jpg');
}
}

/* DESKTOP */

@media screen and (min-width: 1200px){
.hero {
  text-align: center;
  color: var(--footer-text-color);
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  left: 0px;
  top: 72px;
  background-color: var(--title-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url('../images/hero-overlay.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .hero{
    background-image: 
  linear-gradient(rgba(46, 47, 66, 0.7),
                  rgba(46, 47, 66, 0.7)),
      url('../images/hero-overlay@2x.jpg');
}
}
/* TABLET */


/* ------------------------------- */

 
.section-title.advantages {
  display: none;
}

.section-title-big {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  margin-top: 0px;
  margin-bottom: 72px;
} 


.title-portfolio {
  display: none;
}


.li-item::before {
  display: block;
  content: '';
  width: 264px;
  height: 112px;
  background-color: var(--bcg-secbutton-color);
  background-size: 64px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 8px;
  border-radius: 4px;
}
@media screen and (max-width: 767px){
  .li-item:not(:last-child){
margin-bottom: 72px;
  }
}
@media screen and (max-width: 1199px){
  .li-item::before{
    display: none;
  }
}
@media screen and (min-width: 768px){
.li-item{
  width: calc((100% - 2*24px)/2);
}


.icon-satelite::before {
  background-image: url(../images/antenna.svg);
}
.icon-clock::before {
  background-image: url(../images/clock.svg);
}
.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}
.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}
}


@media screen and (max-width: 767px){
.section-title{
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1111;
  letter-spacing: 0.02em;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 8px;
  text-align: center;
}
.section-text{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--primary-text-color);
} 
}

@media screen and (min-width: 768px) {
  .section-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1111;
  letter-spacing: 0.02em;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 8px;
}
.section-text{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
}

@media screen and (min-width: 1200px){
  .section-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 8px;
}
.section-text {
  margin-top: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
}

.section-text-group { 
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

@media screen and (max-width: 1199px){
.three-padding-bottom {
  display: none;
}
} 

.team {
  background-color: var(--bcg-secbutton-color);
  text-align: center;
  padding-top: 120px;
  padding-bottom: 120px;
}

@media screen and (max-width: 767px) {
.team {
  padding-top: 96px;
  padding-bottom: 128px;
}
}
@media screen and (min-width: 768px) {
.team {
  padding-top: 96px;
  padding-bottom: 104px;
}
}
@media screen and (min-width: 1200px) {
.team {
  padding-top: 120px;
  padding-bottom: 120px;
}
}


.list-image {
  width: 360px;
  display: block;
}

.team-social {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 24px;
  justify-content: center;
}

@media screen and (max-width: 767px){

.list.card{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    row-gap: 72px;
  }

.team-img{
display: block;
height: auto;
max-width: 100%;
}

.team-member {
  text-align: center;
  width: 264px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}


.team-description {
  padding: 32px 16px 32px 16px;
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
}
.team-social {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 24px;
  justify-content: center;
}
.link-social {
  display: flex;
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
  background-color: var(--logo-primbutton-color);
  border-radius: 50%;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social {
  width: 16px;
  height: 16px;
}
.link-social:hover,
.link-social:focus {
  background-color: var(--active);
}
.card-description {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  width: 360px;
  height: 120px;
}

.card-title {
  margin-top: 0px;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color)
} 

.card-text {
  margin-top: 0px;
  margin-bottom: 8px;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
}



.card-description {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  width: 360px;
  height: 120px;
}


@media screen and (min-width: 768px){
.list.card{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 justify-content: center;
  row-gap: 64px;
  column-gap: 24px;
}
.team-img{
display: block;
height: auto;
max-width: ;
}
.team-member {
  text-align: center;
  width: 264px;
  background-color: #fff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
  
.card-text {
    margin-top: 0px;
    margin-bottom: 8px;
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.card-title {
  margin-top: 0px;
  margin-bottom: 8px;
}
.team-description {
  padding: 32px 16px 32px 16px;
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
}
.team-social {
  width: 100%;
  height: 40px;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 24px;
  justify-content: center;
}
.link-social {
  display: flex;
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
  background-color: var(--logo-primbutton-color);
  border-radius: 50%;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social {
  width: 16px;
  height: 16px;
}
.link-social:hover,
.link-social:focus {
  background-color: var(--active);
}
}

@media screen and (min-width: 1200px){
.team-member { 
  margin: 0;
    }
}


/* SECTION 5 */

.customers-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  gap: 24px;
}

.link-customers {
  display: flex;
  padding: 0;
  margin: 0;
  width: 168px;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-customers {
  width: 104px;
  height: 56px;
  fill: #8e8f99;
  transition: fill 250ms 
  border-color: #8e8f99;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-customers:hover .icon-customers,
.link-customers:focus .icon-customers {
  fill: var(--active);
}
.link-customers:hover,
.link-customers:focus {
  border-color: var(--active);
}

@media screen and (max-width:767px) {
  .customers-list{
   flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 72px;
  
  }
  .link-customers {
    width: 190px;
    height: 88px;
}
}
@media screen and (min-width: 768px) {
.customers-list{
column-gap: 24px;
row-gap: 72px;
width: 552px;
flex-wrap: wrap;
margin-left: auto;
margin-right: auto;
}
.link-customers {
    width: 168px;
    height: 88px;
}
}

@media screen and (min-width: 1200px) {
.customers-list{
flex-wrap: nowrap;
width: 1125px;
}
}








.footer {
  background-color: var(--title-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.studio {
  color: var(--bcg-secbutton-color);
   background-color: var(--title-color);
}
.footer-left-text {
  color: var(--footer-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
  margin-top: 16px;
}

.footer-social-media-title {
  margin-top: 0;
  margin-bottom: 16px;
  color: var(--footer-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-icon-list {
  display: flex;
  gap: 16px;
}
.link-footer-icon {
  display: flex;
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-footer-icon:hover,
.link-footer-icon:focus {
  background-color: #31d0aa;
}

.footer-icon {
  width: 24px;
  height: 24px;
}
.footer-left-right {
  display: flex;
  align-items: baseline;
}
.left-container {
  margin-right: 120px;
}

.footer-form {
  margin-left: auto;
 
  }
.form-field {
  display: flex;
  align-items: center;
}
.form-label {
  display: block;
  margin-bottom: 16px;
  margin-top: 0;
  color: var(--footer-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.form-input {
  width: 100%;
  height: 40px;
  color: var(--footer-text-color);
  background-color: var(--title-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.form-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 767px) {
  .footer{
    padding-top: 96px;
    padding-bottom: 96px;
  }
.footer-left-right{
  flex-direction: column;
  align-items: center;
  row-gap: 72px;
}
.left-container{
  margin-right: 0;
  text-align: center;
}
.footer-left-text{
  text-align: left;
  width: 268px;
}
.footer-social-media-title{
  text-align: center;
}
.form-field{
  flex-direction: column;
  width: 100%;
}
.footer-form{
  margin-left: 0;
  width: 100%;
}
.form-input{
  width: 100%;
  margin-bottom: 16px;
}
.subscribe-btn{
  margin-left: 0;
  align-self: center;
}
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
.footer-left-right{
  display: flex;
  flex-wrap: wrap;
  max-width: 584px;
}
  .left-container{
  margin-right: 24px;
  margin-bottom: 72px;
}
.footer-form{
margin-left: 0;
}
}

@media screen and (max-width: 767px) {
  .list-advantages{
    display: block;
    margin: 0;
    padding: 0;
  }
}

@media screen and (min-width: 768px){

  .list-advantages {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
     }
  }

.three-padding-bottom{
  padding-bottom: 120px;
}

@media screen and (min-width: 1200px){
.list-advantages{
    flex-wrap: nowrap;
}
.list.work-departments{
  display: flex;
  column-gap: 24px;
}

.list.card {
  flex-wrap: nowrap;
  justify-content: center;
  column-gap: 24px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.shadow:hover,
.shadow:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
}
}

/*------ PORTFOLIO -------*/
.list.card-set {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}
.flex-element {
  width: 360px;
  height: 420px;
  margin-right: 24px;
  margin-bottom: 48px;
  position: relative;
}
.flex-element:nth-child(3n) {
  margin-right: 0;
}
.flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.list.button-list {
  display: flex;
  justify-content: center;
  column-gap: 24px;
  margin-bottom: 72px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  /* visibility: hidden; */
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: absolute;
  flex-direction: column;
  top: 50%;
  left: 50%;
  max-width: 408px;
  width: 100%;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-thumb {
  position: relative;
  overflow: hidden;
}

.content-overlay {
  position: absolute;
  padding: 40px 32px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--logo-primbutton-color);
  background-blend-mode: soft-light;
  mix-blend-mode: normal;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link.shadow:hover .content-overlay,
.link.shadow:focus .content-overlay {
  opacity: 1;
  transform: translateY(0);
}

.overlay-text {
  /* position: absolute;
  width: 296px;
  height: 96px;
  left: 32px;
  top: 40px; */
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--bcg-secbutton-color);
  opacity: 0;
}
.link.shadow:hover .overlay-text,
.link.shadow:focus .overlay-text {
  opacity: 1;
}

.mobile-container{
  position: relative;
  padding-left: 40px;
  padding-top: 80px;
  padding-bottom: 40px;
  display: flex;
  height: 100%;
}


.close-btn {
  position: absolute;
  display: inline-flex;
  right: 24px;
  top: 24px;
  height: 24px;
  width: 24px;
  /* margin-right: 24px;
  margin-top: 24px; */
  padding: 0;
  background-color: var(--footer-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  line-height: 0;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover {
  background: var(--active);
}

.close-svg {
  width: 8px;
  height: 8px;
  fill: rgba(0, 0, 0, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover .close-svg {
  fill: var(--body-backgroung-color);
}

.title-modal{

  height: 24px;
  margin-bottom: 16px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  gap: 8px;
}
.modal-container{
  display: flex;
  flex-direction: column;

}
.form-flex{
  position: relative;
  display: flex;
  margin-bottom: 8px;
  align-items: center;
}
.form-flex:last-child{
  margin-bottom: 0;
} 

.label{
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.04em;
  color: #8E8F99;
  margin-bottom: 4px;
}


.input {
  width: 360px;
  height: 40px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 8px 16px 8px 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input:focus{
  border-color: var(--logo-primbutton-color);
}

.input:focus + .form-icon{
  fill: var(--logo-primbutton-color);
}
.input.textarea{
  display: block;
  height: 120px;
  resize: none;
  padding-left: 16px;
  }
.textarea::placeholder {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}
.form-flex.comment{
  margin-bottom: 16px;
}
  .policy-text{
    display: flex;
    font-size: 12px;
    line-height: 1.1666;
    letter-spacing: 0.04em;
    color: #757575;
    align-items: center;
  }

.policy-link{
  display: inline;
  font-size: 12px;
  line-height: 1.333;   
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  color: var(--logo-primbutton-color);
}

.modal-button {
  /* position: absolute; */
  display: block;
  padding: 16px 32px;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  height: 56px;
  background-color: #4D5AE5;
  color: #FFFFFF;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
}
.modal-button:hover,
.modal-button:focus {
  background-color: var(--active);
}

.checkbox{
  appearance: none;
  position : absolute;
}
.form-icon{
  position: absolute;
  left:16px;
  width: 18px;
  height: 24px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.custom-checkbox{
    content: "";
    display: flex;
    width: 16px;
    height: 16px;
    border: 1.25px solid var(--title-color);
    border-radius: 2px;
    background-size: contain;
    background-origin: padding-box;
    margin-right: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    
    transition: 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.custom-icon{
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.checkbox:checked +.custom-checkbox{
    background-color: var(--active);
    border-color: var(--active);
}
.checkbox:checked + .custom-checkbox .custom-icon{
  opacity: 1;
}


/* HW -7 
Adaptive*/

mobile - max-width: 480px;
tablet - max-width: 768px;
desktop - max-width: 1200px;

/* mobile-first */



width: 95%;
  max-width: 392px;
  height: 95%;
  max-height: 586px;
  overflow: scroll;