/* header text color #2E2F42 
adress #434455
web color #4D5AE5 */
/* bgc #E5E5E5 */
/* body bgc #FFFFFF  */
/* body color #2E2F42 */
/* 2nd color #434455 */
/* button text color #4D5AE5 bgc #E7E9FC  */
/* btn bgc hover #404BBF text #FFFFFF  */

:root {
  --primary-text-color: #434455;
  --title-color: #2e2f42;
  --footer-studio-color: #f4f4fd;
  --footer-text-color: #e7e9fc;
  --active: #404bbf;
  --body-backgroung-color: #ffffff;
  --hero-text-color: #ffffff;
  --logo-primbutton-color: #4d5ae5;
  --bcg-secbutton-color: #f4f4fd;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--body-backgroung-color);
}
/* 1. header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  display: block;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 1158px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;

  /* outline: 2px solid tomato; */
}
/* logo */

.main-nav {
  display: flex;
  align-items: center;
}
.link.logo {
  padding-top: 24px;
  padding-bottom: 24px;
  line-height: 1.3333;
  color: var(--title-color);
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}
.web {
  color: var(--logo-primbutton-color);
}
.main-nav {
  display: flex;
  align-items: center;
}
.main-nav a {
  display: block;
}
/* site nav */

.site-nav {
  display: flex;
  margin-left: 76px;
}

.current-page {
  position: relative;
}

.link.current-page {
  color: var(--active);
}

.current-page::after {
  position: absolute;
  content: '';
  width: 100%;
  display: block;
  left: 0;
  bottom: 0;
  background-color: var(--active);
  height: 4px;
  border-radius: 2px;
}

.site-nav .item + .item {
  margin-left: 40px;
}
/* .site-nav .item:not(:last-child){
  margin-right: 40px;
} */
/* .site-nav .item:last-child{
  margin-right: 0;
} */
.site-nav a {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav a:hover,
.site-nav a:focus {
  color: var(--active);
}
address {
  margin-left: auto;
}
.address {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.contact-info .item + .item {
  margin-left: 40px;
}
.contact-info {
  display: flex;
}
.contact-info a {
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
}

/* 2. main */

.link {
  text-decoration: none;
}
/* .link:active{
  color: var(--active)
} */
.contact-info a {
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-info a:hover,
.contact-info a:focus {
  color: var(--active);
}

/* buttons */

.button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
}

.button.primary {
  color: var(--background-color);
  background-color: var(--logo-primbutton-color);
  padding: 16px 32px;
  min-width: 169px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button.primary:hover,
.button.primary:focus {
  color: var(--background-color);
  background-color: var(--active);
}
.button.secondary {
  color: var(--logo-primbutton-color);
  padding: 12px 24px;
  background: var(--bcg-secbutton-color);
  min-height: 48px;
  border: 1px solid var(--footer-text-color);

  transition: 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button.secondary:hover,
.button.secondary:focus {
  background-color: var(--active);
  color: var(--hero-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: transparent;
}

.subscribe-btn {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  gap: 16px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  color: var(--body-backgroung-color);
  background: var(--logo-primbutton-color);
  margin-left: 24px;
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-btn:hover,
.subscribe-btn:focus {
  color: var(--body-backgroung-color);
  background-color: var(--active);
}
.telegram {
width: 24px;
height: 20px;
display: inline-block;

/* margin-left: 16px; */

}

/* sections */
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.container.container-button {
  padding-top: 96px;
  padding-bottom: 72px;
}
/* hero */
.hero-title {
  width: 496px;
  color: var(--hero-text-color);
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  margin: 0px auto 48px;
  display: block;
}

.hero {
  text-align: center;
  color: var(--footer-text-color);
  padding-top: 188px;
  padding-bottom: 188px;
  height: 600px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  left: 0px;
  top: 72px;
  background-color: var(--title-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/hero-overlay.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-title.advantages {
  display: none;
}

.section-title-big {
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  margin-top: 0px;
  margin-bottom: 72px;
}
.title-portfolio {
  display: none;
}

.li-item::before {
  display: block;
  content: '';
  width: 264px;
  height: 112px;
  background-color: var(--bcg-secbutton-color);
  background-size: 64px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 8px;
  border-radius: 4px;
}
.icon-satelite::before {
  background-image: url(../images/antenna.svg);
}
.icon-clock::before {
  background-image: url(../images/clock.svg);
}
.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}
.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}
.section-title {
  color: var(--title-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 8px;
}
.section-text {
  margin-top: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.section-text-group {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.container.work-departments {
  margin-bottom: 120px;
}
.team {
  background-color: var(--bcg-secbutton-color);
  text-align: center;
  padding-top: 120px;
  padding-bottom: 120px;
}
.list-image {
  width: 360px;

  display: block;
}
.team-member {
  background-color: #fff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-description {
  padding: 32px 16px 32px 16px;
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
}
.team-social {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 24px;
}
.link-social {
  display: flex;
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
  background-color: var(--logo-primbutton-color);
  border-radius: 50%;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social {
  width: 16px;
  height: 16px;
}
.link-social:hover,
.link-social:focus {
  background-color: var(--active);
}
.card-title {
  margin-top: 0px;
  margin-bottom: 8px;
}
.card-text {
  margin-top: 0px;
  margin-bottom: 8px;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.card-description {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  width: 360px;
  height: 120px;
}

.customers-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 24px;
}

.link-customers {
  display: flex;
  padding: 0;
  margin: 0;
  width: 168px;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-customers {
  width: 104px;
  height: 56px;
  fill: #8e8f99;
  transition: fill 250ms 
  border-color: #8e8f99;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-customers:hover .icon-customers,
.link-customers:focus .icon-customers {
  fill: var(--active);
}
.link-customers:hover,
.link-customers:focus {
  border-color: var(--active);
}

.footer {
  background-color: var(--title-color);
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer p {
}
.footer.studio {
  color: var(--bcg-secbutton-color);
}
.footer-left-text {
  color: var(--footer-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
  margin-top: 16px;
}

.footer-social-media-title {
  margin-top: 0;
  margin-bottom: 16px;
  color: var(--footer-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-icon-list {
  display: flex;
  gap: 16px;
}
.link-footer-icon {
  display: flex;
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-footer-icon:hover,
.link-footer-icon:focus {
  background-color: #31d0aa;
}

.footer-icon {
  width: 24px;
  height: 24px;
}
.footer-left-right {
  display: flex;
  align-items: baseline;
}
.left-container {
  margin-right: 120px;
}

.footer-form {
  /* display: flex; */
  margin-left: auto;
  /* position: relative; */
}
.form-field {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
}
.form-label {
  display: block;
  margin-bottom: 16px;
  margin-top: 0;
  color: var(--footer-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.form-input {
  width: 264px;
  height: 40px;
  color: var(--footer-text-color);
  background-color: var(--title-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.form-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

/*------ PORTFOLIO -------*/
.list.card-set {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}
.flex-element {
  width: 360px;
  height: 420px;
  margin-right: 24px;
  margin-bottom: 48px;
  position: relative;
}
.flex-element:nth-child(3n) {
  margin-right: 0;
}
.flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.list.button-list {
  display: flex;
  justify-content: center;
  column-gap: 24px;
  margin-bottom: 72px;
}
.list.advantages,
.list.work-departments,
.list.card {
  display: flex;
  justify-content: center;
  column-gap: 24px;
}
.shadow {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.shadow:hover,
.shadow:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* HW5  */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  /* visibility: hidden; */
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: absolute;
  flex-direction: column;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-thumb {
  position: relative;
  overflow: hidden;
}

.content-overlay {
  position: absolute;
  padding: 40px 32px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--logo-primbutton-color);
  background-blend-mode: soft-light;
  mix-blend-mode: normal;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link.shadow:hover .content-overlay,
.link.shadow:focus .content-overlay {
  opacity: 1;
  transform: translateY(0);
}

.overlay-text {
  /* position: absolute;
  width: 296px;
  height: 96px;
  left: 32px;
  top: 40px; */
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--bcg-secbutton-color);
  opacity: 0;
}
.link.shadow:hover .overlay-text,
.link.shadow:focus .overlay-text {
  opacity: 1;
}

.close-btn {
  position: absolute;
  display: inline-flex;
  right: 0;
  top: 0;
  height: 24px;
  width: 24px;
  margin-right: 24px;
  margin-top: 24px;
  background-color: var(--footer-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover {
  background: var(--active);
}

.close-svg {
  width: 8px;
  height: 8px;
  fill: rgba(0, 0, 0, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover .close-svg {
  fill: var(--body-backgroung-color);
}

.title-modal{
  width: 360px;
  height: 24px;
  margin-bottom: 16px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  gap: 8px;
}
.modal-container{
  display: flex;
  flex-direction: column;
  /* position: absolute; */
  width: 360px;
  
  /* outline: 1px solid tomato; */
}
.form-flex{
  position: relative;
  display: flex;
  margin-bottom: 8px;
  align-items: center;
}
.form-flex:last-child{
  margin-bottom: 0;
} 

.label{
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.04em;
  color: #8E8F99;
  margin-bottom: 4px;
}


.input {
  width: 360px;
  height: 40px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 8px 16px 8px 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input:focus{
  border-color: var(--logo-primbutton-color);
}

.input:focus + .form-icon{
  fill: var(--logo-primbutton-color);
}
.input.textarea{
  display: block;
  height: 120px;
  resize: none;
  padding-left: 16px;
  }
.textarea::placeholder {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}
.form-flex.comment{
  margin-bottom: 16px;
}
  .policy-text{
    display: flex;
    font-size: 12px;
    line-height: 1.1666;
    letter-spacing: 0.04em;
    color: #757575;
    align-items: center;
  }

.policy-link{
  display: inline;
  font-size: 12px;
  line-height: 1.333;   
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  color: var(--logo-primbutton-color);
}

.modal-button {
  /* position: absolute; */
  display: block;
  padding: 16px 32px;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  height: 56px;
  background-color: #4D5AE5;
  color: #FFFFFF;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
}
.modal-button:hover,
.modal-button:focus {
  background-color: var(--active);
}

.checkbox{
  appearance: none;
  position : absolute;
}
.form-icon{
  position: absolute;
  left:16px;
  width: 18px;
  height: 24px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.custom-checkbox{
    content: "";
    display: flex;
    width: 16px;
    height: 16px;
    border: 1.25px solid var(--title-color);
    border-radius: 2px;
    background-size: contain;
    background-origin: padding-box;
    margin-right: 8px;
    align-items: center;
    justify-content: center;
    
    transition: 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.custom-icon{
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.checkbox:checked +.custom-checkbox{
    background-color: var(--active);
    border-color: var(--active);
}
.checkbox:checked + .custom-checkbox .custom-icon{
  opacity: 1;
}


/* HW - 6 
Adaptive*/

mobile - max-width: 428px;
tablet - max-width: 768px;
desktop - max-width: 1440px;

: 480px, 768px Ñ– 1200px.